{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    ​<div class="row">
        <div class="col-md-6 mx-auto text-center card bg-light">
            ​<div class="text-center">
                ​<h1>Enter your url destination :)</h1>

                <form method="POST" action="result/" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label>Choose up to 10 URLs you want to download </label>
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="inputFormRow-1">
                                    <div class="input-group mb-3">
                                        <input type="url" name="link-1" class="form-control m-input"
                                            placeholder="https://example.com/media.zip" id="link-1" required>
                                    </div>
                                </div>

                                <div id="newRow"></div>
                                <button id="addRow" type="button" class="btn btn-info">Add Row</button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="linkCount" id="linkCount" value="1">
                    <div class="form-group">
                        <input id="submit-button" type="submit" class="btn btn-primary" value="Download All Files!">
                    </div>
                </form>
                ​
            </div>
        </div>
    </div>​
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
    // add row
    var max_row = 10;
    var now = 1;
    $("#addRow").click(function () {
        now++;
        let html = '';
        html += '<div id="inputFormRow-' + now + '">';
        html += '<div class="input-group mb-3">';
        html += '<input type="url" name="link-' + now +
            '" class="form-control m-input" placeholder="https://example.com/media.zip" id="link-' +
            now + '" required>'
        html += '<div class="input-group-append">';
        html += '<button id="removeRow-' + now + '" type="button" class="btn btn-danger removeBtn">-</button>';
        html += '</div>';
        html += '</div>';
        if (now == max_row) {
            $("#addRow").hide();
        }
        $('#newRow').append(html);
        $('#linkCount').val(now);
    });

    // remove row
    $(document).on('click', '.removeBtn', function () {
        now--;
        const nameInput = '#inputFormRow-';
        const idRow = this.id.split("-")[1];
        let removeElem = nameInput + idRow;
        $(removeElem).remove();
        if ($("#addRow").is(":hidden")) {
            $("#addRow").show();
        }
        $('#linkCount').val(now);
    });

</script>
{% endblock %}