{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    ​<div class="row">
        {% if response == "ok" %}
        <div class="col-md-8 mx-auto table-responsive">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">URL</th>
                        <th scope="col">Download</th>
                        <th scope="col">Kompresi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for link in links %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}.</th>
                        <td class="text-primary" style="vertical-align: middle;"><u>{{ link.link }}</u></td>
                        <td id="{{ link.id }}-download-progress" style="vertical-align: middle;" >0%</td>
                        {% if forloop.counter == 1 %}
                            <td id="compress-progress" rowspan="{{ link_count }}" style="vertical-align: middle;">0%</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <div class="col-md-8 mx-auto card bg-light text-center">
            <h2 class="text-danger" id='status'>{{ response }}</h1>
                <h3 class="text-dark" id='status'>{{ status }}</h1>
        </div>
        {% endif %}
    </div>
    ​<div class="row">
        <div class="col text-center">
            <button id="btn-home" type="button" class="btn btn-secondary mt-1" onclick="window.location.href= '/'">Back
                to Home</button>
        </div>
    </div>
    <div class="download-stuff col-md-8 mx-auto mt-3" style="display: none;">
        ​<div class="row">
            <div class="col text-center">
                <a id="btn-download" type="button" class="btn btn-primary mt-1" href="">Download All File (Zip) </a>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-center">
                <h6>Compression Result Available for 60 Minutes:</h6>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <a id='link-download' href=""></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    // Progress Websocket
    $(document).ready(function () {
        WebSocketProgress();
    });


    function WebSocketProgress() {
        if ("WebSocket" in window) {
            var last_percentage;
            var ws = new SockJS('http://152.118.148.95:15674/stomp');
            var c_disp = Stomp.over(ws);
            var mq_disp = "/exchange/{{ mq.ex_topic }}/{{ routing }}";
            var on_connect = function () {
                console.log('connected');
                c_disp.subscribe(mq_disp, on_message);
            };
            var on_error = function () {
                console.log('error web_socket_clock');
            };
            var on_message = function (m) {
                console.log('message received');
                json_msg = JSON.parse(m.body);
                if (json_msg["status"] == "done-compress") {
                    $(".download-stuff").show();
                    const urlDl = json_msg['download-url'];
                    $('#btn-download').attr('href', urlDl);
                    $('#link-download').attr('href', urlDl);
                    $('#link-download').html(urlDl);
                } else {
                    arr_link = json_msg["list-link"];
                    arr_link.forEach(element => {
                        const id = element["id"];
                        const pDownload = element["download_progress"];
                        const elemDownStr = id + "-download-progress";
                        document.getElementById(elemDownStr).innerHTML = pDownload + "%";
                    });
                    pCompress = json_msg["compress-percentage"];
                    document.getElementById("compress-progress").innerHTML = pCompress + "%";
                }
            };
            c_disp.connect('0806444524', '0806444524', on_connect, on_error, '/0806444524');
        } else {
            // The browser doesn't support WebSocket
            alert("WebSocket NOT supported by your Browser!");
        }
    }
</script>
{% endblock %}