{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% block css %}
    {% endblock %}


    <title>Tugas Akhir LAW</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand">Agas - Tugas Akhir LAW Genap 2019/2020</a>
    </nav>

    <div class="container" style="margin-top: 10px;">
        ​<div class="row">
            <div class="col-md-3 mx-auto">
                <div class="card bg-dark text-white">
                    <h3 class="card-title text-center">
                        <div class="d-flex flex-wrap justify-content-center mt-2">
                            <a><span class="badge" id="time-span"></span></a>
                        </div>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    {% block scripts %}
    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'js/pooper-1.16.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/socks.min.js' %}"></script>
    <script src="{% static 'js/stomp.min.js' %}"></script>
    <!--Clock Func-->
    {% endblock %}

    <script>
        $(document).ready(function () {
            WebSocketClock();
        });

    function WebSocketClock() {
        if ("WebSocket" in window) {
            var last_percentage;
            var ws = new SockJS('http://152.118.148.95:15674/stomp');
            var c_disp = Stomp.over(ws);
            var mq_disp = "/exchange/{{ mq.ex_topic }}/{{ mq.rkey_jam }}";
            var on_connect = function () {
                console.log('connected');
                c_disp.subscribe(mq_disp, on_message);
            };
            var on_error = function () {
                console.log('error web_socket_clock');
            };
            var on_message = function (m) {
                console.log('message received');
                document.getElementById("time-span").innerHTML = m.body;
                
            };
            c_disp.connect('0806444524', '0806444524', on_connect, on_error, '/0806444524');
        } else {
            // The browser doesn't support WebSocket
            alert("WebSocket NOT supported by your Browser!");
        }
    }
    </script>
    
    
</body>

</html> 